{% load static %}
{% static "images" as baseUrl %}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="/static/images/c.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Students Notes</h5>
                    <p class="card-text">Save your all notes here reguarding your study.</p>
                    <a href="/notes" class="btn btn-primary">Save Notes</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="/static/images/d.jfif" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Homework</h5>
                    <p class="card-text">Complete your School/Collage homework here</p>
                    <a href="/homework" class="btn btn-danger">Check Homework</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="/static/images/e.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Youtube</h5>
                    <p class="card-text">See Top 10 Youtube Recommendations</p>
                    <a href="/youtube" class="btn btn-success">Youtube</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="/static/images/f.jfif" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">TODO</h5>
                    <p class="card-text">Make Your TODO list and complete that</p>
                    <a href="/todo" class="btn btn-info">Mark TODO</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img src="/static/images/g.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Wikipedia</h5>
                    <p class="card-text">Search and get details on Wikipedia</p>
                    <a href="/wiki" class="btn btn-primary">Search on Wikipedia</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>